body {
    background-color: #262626;
}

.Font {
    color: white;
    font-family: sans-serif;
}

.Credits {
    color: white;
    font-family: sans-serif;
}

.Back {
    background-color: #03fcd3;
    width: 75px;
    height: 75px;
    border: none;
    border-radius: 30px;
    font-size: 20px;
}